<section>
  <div class="page-header">
    <h1>Equipes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="equipe in vm.equipes"
       ui-sref="equipes.view({ equipeId: equipe._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="equipe.created | date:'mediumDate'"></span>
        by
        <span ng-if="equipe.user" ng-bind="equipe.user.displayName"></span>
        <span ng-if="!equipe.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="equipe.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.equipes.$resolved && !vm.equipes.length">
    No Equipes yet, why don't you <a ui-sref="equipes.create">create one</a>?
  </div>
</section>
